.page{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:thin solid black;
    width: 450px;
    background-color: black;
    padding-top:20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
    
.field {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    border:medium solid gray;
    height: 100px;
    width: 410px;
    margin-bottom: 10px;
    font-size: 45px;
    background-color: black;
    color: white;
    border-radius: 10px;

}

.buttons{
    flex-direction: column;
    align-items: center;
}

button {
    min-width: 100px;
    min-height: 100px;
    font-size: 30px;
    margin:2px;
    border-radius: 20px;
}

.deleteRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sevenRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fourRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.oneRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.zeroRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#AC{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#zero{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.right{
background-color: orange;
}
    
